---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 90% !important;
    }
}

.main-content {
    max-width: 90% !important;
}

.project-tagline {
    display: none;
}

.page-header .btn {
    display: none;
}

.page-header {
    padding: 1rem 6rem;
}